# URL
# Could create one to a repository - https://github.com/<ORGANIZATION>
# or to all organization - https://github.com/<ORGANIZATION>/<REPOSITORY>
URL=https://github.com/<ORGANIZATION>/<REPOSITORY>

# REGISTRATION_TOKEN
# For all organization
# https://github.com/organizations/<ORGANIZATION>/settings/actions/runners/new
# For repository
# https://github.com/<ORGANIZATION>/<REPOSITORY>/settings/actions/runners/new
REGISTRATION_TOKEN=<YOUR TOKEN>

RUNNER_NAME=<RUNNER-NAME>
RUNNER_LABELS=teste,self-hosted,linux,x64
#SYSTEM_PACKAGES=make # Alread installed in the image, but you can add more if you need, like "make jq unzip"
#RUNNER_VERSION=2.334.0 # It'll use 2.334.0 as default, but you can specify the version of the runner
